---
import Page from "../layouts/Page.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Page
  title="Contact Us - CARWASH"
  description="Get in touch with us for questions, bookings, or feedback"
>
  <section
    class="relative min-h-screen bg-cover bg-center bg-no-repeat"
    style="background-image: url('https://images.unsplash.com/photo-1703609437109-8544f6bd54bd?q=95&w=2000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
  >
    <div class="absolute inset-0 bg-black/40"></div>
    
    <div class="relative z-10">
      <h2 class="text-white text-5xl font-bold text-center  pt-16 leading-[1.5]" data-aos="fade-up">
        CONTACT US: CARWASH
      </h2>
      <ContactForm />
    </div>
  </section>
  <div class="max-w-6xl mx-auto p-8 text-left">
    <h3 class="text-3xl text-primary font-bold mt-4 mb-2" data-aos="fade-up">
      CONTACT
    </h3>
    <div class="flex flex-col text-gray-700" data-aos="fade-up">
      <span class="text-xl font-bold">CALL US</span>
      <span>01 259 7413</span>
      <span class="text-xl font-bold">ADDRESS</span>
      <span>AV LOREM IPSUM 123</span>
      <span class="text-xl font-bold">EMAIL</span>
      <span>contact@contact.com</span>
    </div>
  </div>
</Page>

