---
import Page from "@layouts/Page.astro";
import HeroSection from "@components/HeroSection.astro";
import ServicesCard from "@components/ServicesCard.astro";
import ContactForm from "@components/ContactForm.astro";
import PackageSection from "@components/PackageSection.astro";
---

<Page
	title="Carwash - Professional Car Cleaning Services"
	description="Carwash is a professional car cleaning service that provides a range of services to keep your car clean and looking its best."
>
	<HeroSection />
	<ServicesCard />
	<PackageSection />
	<div class="flex flex-col justify-center items-center mt-20 gap-4">
		<img src="/logoCarWash.png" alt="logoCarWash" class="h-20 w-auto" />
		<div class="w-px h-24 bg-black" data-aos="fade-up"></div>
		<p class="text-center max-w-md text-xl" data-aos="fade-up">
			We know that your car is where memories are made, where the music blasts,
			and where your day begins. It's part of your story, and we're here to help
			you keep it looking its best.
		</p>
		<div
			class="w-full flex flex-wrap justify-center gap-6 px-4 py-52 relative bg-center bg-cover mt-10 bg-scroll md:bg-fixed"
			style={{
				backgroundImage:
					"url('https://images.unsplash.com/photo-1560037962-a00331b63f72?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')",
			}}
		>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<img 
			src="https://images.unsplash.com/photo-1607860108855-64acf2078ed9?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
			alt="Men Cleaning Car" 
			class="w-full h-64 md:h-full object-cover rounded"
		/>
		<div class="p-6 md:p-10 flex flex-col justify-center">
			<h2 class="text-2xl md:text-4xl font-bold leading-[1.5]" data-aos="fade-up">Americas Premium Car Wash & Detailing Service</h2>
			<p class="text-lg md:text-xl pt-4 md:pt-5" data-aos="fade-up" data-aos-delay="200">
				Caring for Cars with Precision and Passion for Over 20 Years At Mustang Car Wash Movil, we dont just wash cars—we restore pride in your ride.
				With two decades of experience, our expert team combines cutting-edge
				equipment, high-quality products, and proven techniques to bring out the
				best in every vehicle. <br>  <br>
				From quick express washes to full-service
				interior and exterior detailing, we deliver superior results with
				unmatched attention to detail. Every service is performed with care,
				consistency, and a commitment to excellence.
				<br><br>
				Our mission is to exceed your expectations every time you visit.
				We use eco-friendly cleaning solutions to protect both your car and the environment.
			</p>
		</div>
	</div>
	
	<!-- Sección del formulario de contacto con imagen de fondo -->
	<section
		class="relative min-h-screen bg-cover bg-center bg-no-repeat"
		style="background-image: url('https://images.unsplash.com/photo-1552930294-6b595f4c2974?q=80&w=1026&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
	>
		<!-- Overlay con blur -->
		<div class="absolute inset-0 bg-black/50 backdrop-blur-sm"></div>
		
		<!-- Contenido del formulario -->
		<div class="relative z-10">
			<ContactForm />
		</div>
	</section>
</Page>
