---
import Page from "../../layouts/Page.astro";
import ContactForm from "../../components/ContactForm.astro";
---

<Page
  title="Contacto - CARWASH"
  description="Ponte en contacto con nosotros para preguntas, reservas o comentarios"
  image="/logoCarWash.png"
>
  <section
    class="relative min-h-screen bg-cover bg-center bg-no-repeat"
    style="background-image: url('https://images.unsplash.com/photo-1703609437109-8544f6bd54bd?q=95&w=2000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
  >
    <div class="absolute inset-0 bg-black/40"></div>
    
    <div class="relative z-10">
      <h2 class="text-white text-5xl font-bold text-center  pt-16 leading-[1.5]" data-aos="fade-up">
        CONTÁCTANOS: CARWASH
      </h2>
      <ContactForm />
    </div>
  </section>
  <!-- Map Section -->
  <section class="py-16 lg:px-8 bg-base-200" data-aos="zoom-in">
    <div class="container mx-auto max-w-4xl text-center">
      <div class="flex flex-col items-center justify-center mb-4 leading-[2.0]">
        <h2 class="lg:text-4xl text-2xl font-bold text-primary">
          Nuestra Área de Servicio
        </h2>
        <span class="text-lg text-gray-500">
          Servimos toda el área de Sacramento CA, EE. UU.
        </span>
      </div>
      <div class="divider"></div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d199698.29495036788!2d-121.5726577!3d38.5502272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac672b28397f9%3A0x921f6aaa74197fdb!2sSacramento%2C%20California%2C%20EE.%20UU.!5e0!3m2!1ses!2spe!4v1753810789139!5m2!1ses!2spe"
        width="100%"
        height="450"
        style="border:0; border-radius: 20px; overflow: hidden;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
  <div class="max-w-6xl mx-auto p-8 text-left">
    <h3 class="text-3xl text-primary font-bold mt-4 mb-2" data-aos="fade-up">
      CONTÁCTANOS
    </h3>
    <div class="flex flex-col text-gray-700" data-aos="fade-up">
      <span class="text-xl font-bold">LLÁMANOS</span>
      <span>01 259 7413</span>
      <span class="text-xl font-bold">DIRECCIÓN</span>
      <span>AV LOREM IPSUM 123</span>
      <span class="text-xl font-bold">EMAIL</span>
      <span>contact@contact.com</span>
    </div>
  </div>
</Page>

